@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald-Light.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Bold.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 100%);
}

h1 {
    color: rgb(255, 241, 232);
}

.container {
    background-color: grey;
    height: 100vh;
    padding: 25px;
}
.box {
    border: 3px solid black;
    background-color: white;
    width: 50%;
    height: 100%;
    padding: 25px;
    float: left;
}